<app-header></app-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  @if (!loading && forms.length) {
    <ion-list>
      @for (f of forms; track trackById($index, f)) {
        <ion-item button detail (click)="openForm(f)">
          <ion-label>
            <h2>{{ f.name }}</h2>
            @if (f.description) {
              <p [innerHTML]="f.description"></p>
            }
          </ion-label>
        </ion-item>
      }
    </ion-list>
  } @else {
    @if (loading) {
      <ion-list>
        @for (s of [1,2,3,4,5]; track s) {
          <ion-item>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </ion-item>
        }
      </ion-list>
    }
    @if (!loading && !forms.length) {
      <div class="ion-padding">
        @if (!error) {
          <p>Não há formulários disponíveis.</p>
        }
        @if (error) {
          <p>{{ error }}</p>
        }
      </div>
    }
  }

</ion-content>